
/* Color Pallet
0D3B66 - Blue
FAF0CA - Tan
F4D35E - Gold
*/

* {
    padding: 0;
    margin: 0;
}

/* Body Styles */

body {
    background-color: #0D3B66;
}

/* Header Styles */

header {
    background-color: #0D3B66;
    padding: 75px 40px;
}

blockquote {
    color: #F4D35E;
    text-align: center;
    font-size: 4em;
}

h1 {

}

/* Navigation Styles */

nav {
    background-color: #0D3B66;
    padding: 40px 75px;
}

nav ul {
    list-style-type: none;
}

nav li {

}

nav a {
    color: #F4D35E;
    padding: 40px 75px;
    text-decoration: none;
}

nav a:hover {
    color: #0D3B66;
    background-color: #F4D35E;
    font-size: 1.5em;
}

/* Unused Tags */

table {

}